<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui-v2.5.5/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <script src="/static/layui-v2.5.5/layui/layui.js"></script>
    <script src="/static/js/jquery-3.4.0.min.js"></script>
</head>
<style>
    .retun {
        cursor: pointer;
        margin-top: 30px;
        margin-left: 10px;
        color: black;
        width: 78px;
    }
</style>
<script>
    window.onload = function(){
        /*从url中解析出参数*/
        var re = /\?param=([^&]+)$/gi;
        var jobNumber = re.exec(location.search);
        $("#v2").val(jobNumber[1]);
        var c = $("#v2").val();
        // alert(c);
        var jobNumber=$("#v2").val();

        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#test'
                ,url:'/system/weekPlan/findWeelPlanPeoByPid'
                ,method:'post'
                ,where:{"jobNumber":jobNumber}
                ,cols: [[
                    {type:'checkbox'}
                    ,{field:'peoName',title:"人员姓名"}
                    ,{field:'week_plan_time',title: '计划时间', sort: true}
                    ,{field:'week_plan_content',title: '周计划内容'}
                ]]
                ,page: true,
                limits : [ 5, 10, 15 ], //控制多少行一页（默认五条一页）
                limit : 5 //每页默认显示的数量
            });
        });
    }
    function return_top() {
        window.location.href = "/system/monthly/new_human02.html";
    }
</script>
<body>
<div onclick="return_top()" class="retun">
    <i class="fa fa-reply" aria-hidden="true"></i>
    <span>返回上级</span>
</div>
<table class="layui-hide" id="test"></table>

<input type="hidden" id="v2" value="">
</body>
</html>