<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎登陆日志管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        .panel-default{
            border: 0;
        }
        .panel-default ul li{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="panel panel-default">
    <div style="padding: 10px 0 20px 10px;">
        <h3>公司简介</h3>
        <ul>
            <li>滁州市旭日科技有限公司长期致力于为滁州地区广大中小企业提供全面的信息整合解决方案，涵盖了财务、物流、生产、成本管控、客户关系管理、内部协同等方面。</li>
            <li>在企业信息管理领域有丰富的经验和强大的技术能力，为制造、流通、服务、房地产、公用事业等行业的许多客户建立起了高效运转的信息管理系统，帮助客户提升了管理水平，充分体现了管理的价值。</li>
            <li>滁州旭日在2009年与用友正式结成战略合作后，持续快速发展，截至2016年底，滁州旭日服务的用友/T1、T3、T+、用友ERP-U6/T6、ERP-U8的用户超过1000家。</li>
            <li>滁州市旭日科技有限公司致力于管理软件的咨询、营销、实施、服务及开发。滁州旭日以“专注本地成长型企业信息化服务，以信息化服务，为企业创造价值”为己任，为中小企业提供专业财务管理、供应链管理、生产制造管理、办公协同管理、客户关系管理、人力资源管理等解决方案。</li>
            <li>我们的宗旨：诚信经营，用心服务</li>
            <li>我们的目标：打造滁州服务一流，技术过硬的信息化品牌服务商</li>
            <li>我们的准则：做自己说过的，说自己做过的</li>
        </ul>

        <h3>公司住址</h3>
        <ul>
            <li>公司地址：滁州市科技创业园1803 (邮编：239000)</a>
            </li>
        </ul>

        <h3>公司联系人</h3>
        <ul>
            <li>王琦: 13615501967</li>
            <li>李慧: 15855010105</li>

        </ul>

        <button class="btn"><a  href="https://jobs.51job.com/all/co4411161.html" target="_blank">访问滁州旭日公司官网</a></button>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/openTab.js"></script>
</html>